<div class="row">
  <h5 class="title">Topics</h5>
</div>

<div class="row">
  <% @topics.each do |topic| %>
    <table>
      <tr>
        <th><%= link_to topic.name, topic_path(topic) %></th>
        <th><%= topic.cards.count %></th>
      </tr>
    </table>
  <% end %>
</div>
