<div class="row">
	<h5>New Group</h5>
</div>

<div class="row">
	<div class="large-5 columns">
		<%= simple_form_for @group do |f| %>
			<%= f.input :name %>
			<%= f.button :submit %>
		<% end %>
	</div>

	<div class="large-5 columns">
		<h5>Groups:</h5>
		<ul>
		<% Group.all.each do |group| %>

			<li><%= link_to group.name, group %></li>
		<% end %>
		</ul>
	</div>
</div>
