<div class="row">
	<h3><%= @group.name %></h3>
</div>

<div class="row">

	<div class="large-6 columns">
		<%= render 'shared/new_card_form' %>
		<%= render 'shared/member_feed' %>
	</div>

	<div class="large-6 columns">
		<%= render 'shared/card_feed' %>
	</div>

</div>
