<div class="row">
  <h5>List users here:</h5>
    <%= button_to "Join", group_memberships_path(@group), method: :post, class: "button [tiny radius round]" if !current_user.member?(@group) %>

    <%= button_to "Leave", group_membership_path(@group, @group.membership_from(current_user)), method: :delete, class: "button [tiny radius round]" if current_user.member?(@group) %>
</div>

<% @group.users.each do |member|  %>
  <table>
    <tr>
      <td><%= image_tag member.icon, class: "user_icon" %></td>
      <td><%= "#{member.first_name} #{member.last_name}" %></td>
    </tr>
  </table>
<% end %>
