/* Styling for Card Views */

.card {
	border:solid 2px grey;
	width:400px;
	height:250px;
  padding:5px;
  margin-top:15px;
  margin-bottom:1%;
}

.csv_uploader {
  border:solid 2px lightgrey;
  margin-bottom:2px;
}

.title {
  margin-left: 10px;
}

.card_slider {
  border:solid 2px grey;
  border-radius:5px;
  width:400px;
  height:200px;
  padding:5px;
  margin-top:25px;
  margin-bottom:45px;
  margin-left:30%;
  background-color: #6BBA70;
}
