
.button {
  width:100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button-leave {
  background-color:#B02B2C;
  width:100%;
  border:solid 1px #850809;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height:50px;
  font-weight: bold;
  font-size: 1em;
  color: white;
}
