
.button {
  width:100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button-leave {
  background-color:#B02B2C;
  width:100%;
  border:solid 1px #850809;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height:50px;
  font-weight: bold;
  font-size: 1em;
  color: white;
}

.top_tab_title {
  color: #B02B2C;
  display: none;
}

.tab_title {
  color:#2ba6cb;
  border-bottom:solid 2px grey;
  display: none;
}

.hide_on_load {
  display: none;
}

.group-counter {
  margin-left:5%;
  border:solid 2px grey;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.user_icon {
  border: solid 1px grey;
}
